<div class="container">
    <table class="table">
      <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allfruits">
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.price}}</td>
          <td>
            <a href="" class="btn btn-primary m-3" [routerLink]="['/fruit/edit',item.id]">Edit</a>
            <button type="button" (click)="deleteItem(item.id)" class="btn btn-danger me-3">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
